<form action="" method="post">
  <mat-card>
    <mat-card-title>Basic Contact Information</mat-card-title>
    <mat-form-field>
      <input matInput name="name" autocomplete="off" [(ngModel)]="contact.name">
      <mat-placeholder class="placeholder">Person name</mat-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="cno" autocomplete="off" [(ngModel)]="contact.phoneno">
      <mat-placeholder class="placeholder">Contact No</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="email" autocomplete="off" [(ngModel)]="contact.email">
      <mat-placeholder class="placeholder">Email Address</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="address" autocomplete="off" [(ngModel)]="contact.address">
      <mat-placeholder class="placeholder">Address</mat-placeholder>
    </mat-form-field>
  </mat-card>
  <mat-card>
    <mat-select placeholder="Relation" [(ngModel)]="contact.relation" name="relation">
      <mat-option *ngFor="let relation of relations" [value]="relation">
        {{relation}}
      </mat-option>
    </mat-select>
  </mat-card>
  <mat-card>
    <mat-form-field>
      <textarea matInput name="notes" [(ngModel)]="contact.notes"></textarea>
      <mat-placeholder class="placeholder">Notes</mat-placeholder>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <button mat-raised-button (click)=cancel() name="cancel">Cancel</button>
    <button mat-raised-button color="warn" (click)=save() name="save">Save</button>
  </mat-card>
</form>

