<mat-card  *ngFor="let contact of list">
  <mat-card-title >{{contact.name}}</mat-card-title>
  <mat-card-subtitle>Number: {{contact.phoneno}}</mat-card-subtitle>
  <mat-card-actions>
      <button mat-button (click)="goShare(contact)" >
        <mat-icon>share</mat-icon>
      </button>
      <button mat-button (click)="goDetails(contact)" >
        <mat-icon>list</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>
<a id="btn-create" mat-fab routerLink="/contact" style="background-color: #f44336">
  <mat-icon alt="create">create</mat-icon>
</a>